.add-list{
    min-width: 272px;
    // color: #172b4d;
    // height: auto;
    // min-height: 32px;
    // align-items: center;
    // border-radius: 3px;
    // background-color: hsla(0,0%,100%,.24);
    height: rem(40px);
    padding: 10px 12px;
    transition: background-color 85ms ease-in;
}