.board-header {
    height: rem(52px);
    padding: 8px 4px 4px 14px;
    position: fixed;
    top: rem(44px);
    width: 100%;
    line-height: rem(32px);
    color: $clr10;
    z-index: 1;
    // > * {
    //     line-height: rem(32px);
    // }
    .header-left {
        gap: 4px;
        .header-title {
            font-size: rem(18px);
            font-weight: 700;
            line-height: rem(32px);
            padding: 0 rem(10px);
            margin: 0;
            border-radius: 3px;
            &:hover {
                background-color: #00000029;
                cursor: pointer;
            }
        }
        .header-title-input input {
            border: none;
            border-radius: 3px;
            font-size: rem(18px);
            font-weight: 700;
            height: rem(32px);
            padding: 0 rem(10px);
            box-shadow: inset 0 0 0 2px #0079bf;
        }
        .board-header-divider {
            border-left: 1px solid #0003;
            height: 16px;
            padding: 5px;
        }
    }
    .board-btn {
        &:hover {
            background-color: #00000029;
        }
        &.star {
            width: rem(32px);
            height: rem(32px);
            font-size: rem(16px);
            margin-right: 3px;
            .star-icon.active {
                color: #f2d600;
            }
        }
        &.show-menu {
            cursor: pointer;
            padding-right: rem(12px);
            margin-right: 5px;
            .icon {
                position: relative;
                padding: 0 8px;
                top: 1px;
                color: #42526e;
            }
        }
    }
    .MuiAvatar-root {
        // font-size: 28px;
        height: 29px;
        width: 29px;
        background-color: #00000014;
        font-size: rem(12px);
        color: $clr10;
        &:hover {
            opacity: 0.8;
        }
    }
}

.menu-content {
    padding: 20px 6px 12px 12px;
}
