.board-header {
    padding: 8px 4px 8px 14px;
    width: 100%;
    // line-height: rem(20px);
    gap: 5px;
    .board-btn {
        height: 32px;
    }
    .header-left {
        gap: 4px;
        .header-title {
            font-size: rem(18px);
            font-weight: 700;
            line-height: rem(32px);
            padding: 0 rem(10px);
            margin: 0;
            border-radius: 3px;
            cursor: pointer;

            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .header-title-input input {
            border: none;
            border-radius: 3px;
            font-size: rem(18px);
            font-weight: 700;
            height: rem(32px);
            padding: 0 rem(10px);
            box-shadow: inset 0 0 0 2px #0079bf;
        }

        .board-btn {
            &.star {
                width: rem(32px);
                height: rem(32px);
                font-size: rem(16px);
                margin-right: 3px;
                &.active {
                    .star-icon {
                        color: #f2d600;
                    }
                }
            }
            &.template,
            &.invite {
                padding: 0 12px;
            }
            &.invite button {
                height: 32px;
                line-height: 20px;
                background-color: transparent;
                padding: 0;
                color: white;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }

        .board-header-divider {
            border-left: 1px solid #0003;
            height: 16px;
            padding: 5px;
        }

        .board-members {
            display: none;
        }

        @include for-narrow-layout {
            .board-members {
                display: inline-block;
                margin-inline-end: 9px;
                .avatar-btn {
                    position: relative;
                    button {
                        position: absolute;
                        border-radius: 50%;
                        z-index: 1;
                        top: 0;
                        left: -8px;
                        height: 29px;
                        width: 29px;
                        background-color: transparent;
                        span {
                            height: 100%;
                            width: 100%;
                        }
                    }
                    .MuiAvatar-root {
                        background-color: #bdbdbd;
                        color: white;
                        height: 29px;
                        width: 29px;
                        // background-color: #00000014;
                        font-size: rem(12px);
                        &:hover {
                            opacity: 0.8;
                        }
                    }
                }
            }
        }
    }

    .header-right {
        flex-grow: 1;
        justify-content: flex-end;
        gap: 4px;

        .cards-count {
            background: #5aac44;
            color: #fff;
            &:hover {
                background: #61bd4f;
            }

            .number-count {
                overflow: hidden;
                padding-right: 12px;
                padding-left: 10px;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            .close-filter-btn {
                background: #61bd4f;
                border-radius: 0 3px 3px 0;
                padding: 6px;

                &:hover {
                    background: #99d18f;
                }

                img {
                    height: 16px;
                    width: 16px;
                    position: relative;
                    top: 4px;
                }
            }
        }

        .board-btn {
            padding: 0;
            &.show-menu {
                margin-right: 5px;
            }

            .title {
                display: none;
            }

            .icon {
                padding: 8px;
                color: white;
                font-size: rem(16px);
            }

            @include for-normal-layout {
                .title {
                    display: inline-block;
                    padding: 0;
                    padding-right: rem(12px);
                }
            }
        }
        .menu-visible {
            max-height: 32px;
        }
    }
}

.board-btn {
    border-radius: rem(3px);
    color: white;
    background-color: #ffffff3d;
    &:hover {
        background-color: #ffffff52;
    }
}

.user-menu .remove-member-btn {
    margin-top: 8px;
    margin-left: 4px;
}

// .light-bg {
//     .header-title:hover {
//         background-color: #00000029;
//     }
//     .board-btn {
//         &:hover {
//             background-color: #00000029;
//         }
//         &.star {
//             &.active {
//                 background-color: #00000029;
//                 &:hover {
//                     background-color: #0000003d;
//                 }
//             }
//         }
//     }
// }
