.board-header {
    height: rem(52px);
    padding: 8px 4px 4px 8px;
    position: fixed;
    top: rem(44px);
    width: 100%;
    > * {
        line-height: rem(32px);
    }
    .header-title {
        font-size: rem(18px);
        font-weight: 700;
        line-height: rem(32px);
        padding: 0 rem(12px);
        margin: 0;
    }
    .board-btn {
        &:hover {
            background-color: #00000029;
        }
        &.star {
            width: rem(32px);
            font-size: rem(16px);
            .star-icon.active {
                color: #f2d600;
            }
        }
        &.show-menu {
            cursor: pointer;
            padding-right: rem(12px);
            .icon {
                position: relative;
                padding: 0 8px;
                top: 1px;
                color: #42526e;
            }
        }
    }
}
