.board-preview {
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 96px;
    border-radius: 3px;
    &.create-board {
        cursor: pointer;
        color: $clr10;
        background-color: #f0f2f5;
        &:hover {
            background-color: #e7e9ed;
        }
    }
    .darken-image {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.3);
        border-radius: 3px;
    }
    .preview-details {
        padding-inline-start: 7px;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        .board-title {
            font-size: rem(16px);
            font-weight: 700;
            line-height: rem(24px);
            margin: 6px 0 0;
            color: white;
        }
    }
    &:hover {
        .preview-details {
            background-color: rgba(0, 0, 0, 0.08);
        }
        .star-btn {
            right: 3px;
            opacity: 1;
        }
    }
}

.board-preview-bottom {
    position: relative;
    .star-btn {
        position: absolute;
        background-color: transparent;
        right: -20px;
        opacity: 0;
        bottom: 3px;
        transition: all 0.2s ease-in-out;
        &.show {
            right: 3px;
            opacity: 1;
        }
        .star-icon {
            height: 14px;
            width: 14px;
            color: #bfd6e3;
            transition: all 0.15s;
            &.yellow {
                color: #e6c60d;
            }
            &.large {
                color: white;
                height: 18px;
                width: 18px;
                font-weight: 500;
            }
        }
        &:hover {
            .star-icon {
                color: white;
                height: 18px;
                width: 18px;
                &.yellow {
                    color: #e6c60d;
                }
            }
        }
    }
    .board-owner {
        max-width: calc(100% - 35px);
        color: #ffffffd9;
        margin-bottom: 7px;
        letter-spacing: 0.02em;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}
