.list-wrapper {
    box-sizing: border-box;
    display: inline-block;
    height: 100%;
    margin: 0 4px;
    vertical-align: top;
    white-space: nowrap;
    width: 272px;

    .list-content .list-header h2 {
        margin-inline-start: 10px;
        word-break: break-all;
        cursor: pointer;
        padding-top: 7px;
        font-weight: 600;
        flex: 1 1;
        font-size: rem(14px);
        color: #172b4d;
    }
}

.list-content {
    background-color: #ebecf0;
    border-radius: 3px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    max-height: 100%;
    position: relative;
    white-space: normal;
}

.list-header {
    flex: 0 0 auto;
    min-height: 20px;
    padding: 4px 8px;
    position: relative;

    .list-header-menu-btn {
        color: #6b778c;
        float: left;
        padding: 6px;
    }
}

.add-card-container {
    display: flex;
    align-items: center;
    margin: 5px 8px;
    width: 228px;
    padding: 5px 5px 5px 6px;
    border-radius: 3px;
    font-size: 14px;
    cursor: pointer;

    svg {
        margin-inline-end: rem(5px);
        width: rem(14px);
        height: rem(14px);
    }
}