.card-preview-title {
    word-wrap: break-word;
    clear: both;
    color: #172b4d;
    display: block;
    margin: 0 0 4px;
    overflow: hidden;
    text-decoration: none;
}

.card-list-preview {
    background-color: #fff;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    cursor: pointer;
    display: block;
    margin-bottom: 8px;
    max-width: 300px;
    min-height: 20px;
    position: relative;
    text-decoration: none;
    z-index: 0;
    overflow: hidden;
    padding: .375rem .625rem .125rem;
    box-shadow: 0 1px 0 #c0c6d0;


}

.card-preview-icon {

    float: left;
    margin-left: -2px;
    max-width: 100%;
    align-items: flex-end;


    img {
        height: rem(20px);
        width: unset;
    }

}

.badge-icon {
    color: #5e6c84;
    display: inline-block;
    margin: 0 4px 4px 0;
    max-width: 100%;
    min-height: 20px;
    overflow: hidden;
    padding: 2px;
    position: relative;
    text-decoration: none;
    text-overflow: ellipsis;
}

.card-icon ::before{
    vertical-align: top;    
}
.card-txt {
    font-size: rem(12px);
    padding: 0 rem(4px) 0 rem(2px);
    vertical-align: top;
    white-space: nowrap;
}