.list-card-labels {
    flex-wrap: wrap;
    color: white;
    &:hover {
        .label-card {
            &:not(.label-preview-open) {
                filter: brightness(80%);
            }
            &.label-preview-open .dark-bg {
                background-color: rgba(0, 0, 0, 0.2);
            }
        }
    }
}

.label-card {
    height: 8px;
    line-height: rem(100px);
    margin: 0 4px 4px 0;
    max-width: 40px;
    min-width: 40px;
    padding: 0;
    border-radius: 4px;
    transition: all 0.7s ease-in-out;
    transition: filter 0s;
    &.label-preview-open {
        transition: all 0.7s ease-in-out;
        font-size: rem(12px);
        font-weight: 700;
        height: rem(16px);
        line-height: rem(16px);
        max-width: 198px;
        animation: txt-open;
        .dark-bg {
            padding: 0 8px;
            height: 100%;
            width: 100%;
        }
    }

    @keyframes txt-open {
        from {
            margin-left: 100%;
            width: 300%;
        }

        to {
            margin-left: 0%;
            width: 100%;
        }
    }
}
