.cover-popover {
    .color-plate {
        .color-sqr {
            width: 25px;
            height: 25px;
            margin: 5px;
        }
        .color-selected {
            border: 2px solid blue;
        }
    }
}
