.create-board-wrapper {
    position: absolute;
    top: 2px;
    width: 100%;
    .screen {
        position: fixed;
        right: 0;
        left: 0;
        top: 0;
        bottom: 0;
        z-index: 1;
        background: rgba(0, 0, 0, 0.75);
    }
    .create-board {
        position: relative;
        top: 47px;
        // right: 0;
        // left: 0;
        z-index: 2;
    }
}
