.home-header {
    position: fixed;
    width: 100%;
    z-index: 1;
    padding: 16px;
    background-color: #fafffe; /*remove later*/
    .nav-bar {
        height: rem(36.25px);
        width: 100%;
        .logo-container {
            gap: rem(7px);
            font-size: rem(25px);
            .icon-span {
                background-color: #45cbb2;
                height: rem(25px);
                width: rem(25px);
                border-radius: rem(6px);
                .icon {
                    height: 1.4rem;
                    width: 1.4rem;
                }
            }
            .logo-name {
                font-size: 33px;
                color: #083e34;
                margin: 0;
            }
        }
        .login-signup {
            font-family: SourceSansPro-Semi;
            font-size: rem(20px);
            gap: 5px;
            & > a {
                padding: 5px 10px 7px;
            }
            .login {
                color: #1db79a;
                &:hover {
                    color: #82dfce;
                }
            }
        }
    }
}

.main-header {
    // position: fixed;
    width: 100%;
    height: rem(44px);
    background-color: rgba($color: #000000, $alpha: 0.4);
    color: white;
    font-size: rem(14px);
    padding: 7px 1rem;
    // z-index: 1;
    .nav-bar {
        width: 100%;
        .main-nav-links {
            .logo-container {
                gap: rem(7px);
                margin-right: 12px;
                .icon-span {
                    height: 1.5rem;
                    width: 1.5rem;
                    border: 2px solid white;
                    // border: 2px solid white;
                    border-radius: rem(5px);
                    .icon {
                        height: 1rem;
                        width: 1rem;
                    }
                }
                .logo-name {
                    font-family: SourceSansPro-Reg;
                    letter-spacing: 1px;
                    font-size: rem(18px);
                    color: white;
                    margin-inline-end: 6px;
                }
            }
            .header-btn,
            .user-boards {
                padding: 6px 12px;
                border-radius: 3px;
                background-color: transparent;
                color: white;
                &.create {
                    margin-inline-start: 8px;
                    background-color: rgba(0, 0, 0, 0.24);
                }
                &:hover, &.open {
                    background-color: rgba(255, 255, 255, 0.2);
                }
            }
            .user-boards {
                button {
                    background-color: transparent;
                    color: white;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 6px;
                    img {
                        height: 16px;
                        width: 16px;
                    }
                }
            }
        }
        .user-section button {
            position: absolute;
            right: 4px;
            top: 5px;
            background-color: transparent;
            padding: 0;
            .MuiAvatar-root {
                height: 32px;
                width: 32px;
            }
        }
    }
}

.logo-name {
    font-family: SourceSansPro-Bold;
    color: black;
    margin: 0;
    display: inline-block;
}

.MuiAvatar-root.logged-in-avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #de350b;
    p {
        font-size: rem(15px);
    }
}

.MuiPopover-root.userBoards .MuiPaper-root {
    top: 48px !important;
}