.user-menu {
    width: 270px;
    // padding: 12px;
    color: $clr10;
    // > div {
    //     margin: 0 12px;
    //     padding: 12px 0;
    // }
    // > div:not(:last-child) {
    //     border-bottom: 1px solid #091e4221;
    // }
    .logged-in-avatar {
        margin-right: 8px;
    }
    p {
        margin: 0;
    }
    .fullname {
        text-transform: capitalize;
    }
    .username {
        font-size: rem(12px);
        color: #b3bac5;
    }
    button {
        background-color: transparent;
    }
}
