.popover-header-title {
    border-bottom: 1px solid #091e4221;
    box-sizing: border-box;
    color: #5e6c84;
    line-height: 40px;
    margin: 0 12px;
    overflow: hidden;
    padding: 0 32px;
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;
    z-index: 1;
    width: rem(280px);

    span {
        margin: 0 auto;
    }

    .close-popover {
        position: absolute;
        top: 50%;
        right: 0;
        border: none;
        background-color: transparent;
        padding: 0;
        margin: 0;
        outline: none;
        cursor: pointer;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        line-height: 16px;
        color: #6b778c;

        &:after {
            content: "\00D7";
            font-size: rem(24px);
        }

        &:hover {
            color: $clr10;
        }
    }

    h3 {
        flex-grow: 1;
        line-height: 20px;
        margin: rem(14px) rem(32px);
        font-size: rem(16px);
        color: #172b4d;
    }
}

.popover-content-container {
    padding: 0 rem(12px) rem(12px);
}


.popover-content {
    >div {
        margin: 0 12px;
        padding: 12px 0;
    }

    >div:not(:last-child) {
        border-bottom: 1px solid #091e4221;
    }
}