.progress-bar {
    .progress-bar-container {
        background-color: $bgcColor;
        width: 100%;
        border-radius: 10px;
        .progress-bar {
            height: 8px;
            background-color: #5ba4cf;
            transition: width, 0.8s;
            transition: background-color, 1.8s;
            &.bar-done {
                background-color: $clr1;
            }
        }
    }
}
