.screen-quick-card-edit {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.64);

    img {
        height: 24px;
        width: 25px;
        margin: 9px;
        position: absolute;
        right: 0;
        top: 0;
        transition-duration: .15s;
        transition-property: transform, color;

        &:hover {
            color: #fff;
            cursor: pointer;
            transform: scale(1.4);
        }
    }
}

.quick-card-edit-preview {
    position: absolute;
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%, -50%);
    z-index: 2;
    width: 256px;

    .card-preview-content {

        .quick-card-input {
            width: 100%;
            resize: none;
            height: 90px;
            border: none;
        }

    }

    .save-quick-card-btn {
        background-color: #0079bf;
        color: #fff;
        margin-top: 9px;
        padding: 7px 24px;
        transition-duration: 85ms;
        transition-property: background-color, border-color, box-shadow;
        transition-timing-function: ease;

        &:hover {
            background-color: #026aa7;
        }
    }
}