.user-msg {
    z-index: 10;
    color: $fontColor;
    padding: 10px;
    font-size: rem(17px);
    position: fixed;
    bottom: 30px;
    left: 20px;
    background-color: $bgcColor;
    .txt-msg svg {
        margin-right: 20px;
    }
    button {
        border: 0;
        border-radius: 50%;
        margin: 10px;
        color: $fontColor;
        &:hover {
            background-color: $cardHoverColor;
        }
    }
}
