.board-app {
    height: calc(100vh - rem(44px));
    margin-right: 0;
    position: relative;
    transition: margin .1s ease-in;
    overflow-y: hidden;
}

.board-canvas {
    flex-grow: 1;
    position: relative;
}

.board {
    bottom: 0;
    left: 0;
    margin-bottom: 8px;
    overflow-x: auto;
    overflow-y: hidden;
    padding-bottom: 8px;
    position: absolute;
    right: 0;
    top: 0;
    user-select: none;
    white-space: nowrap;
}
