.board-app {
    height: calc(100vh - rem(44px));
    position: relative;
}
.board-background {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.board-canvas {
    padding-left: 10px;
    padding-bottom: 8px;
    margin-bottom: 8px;
    width: 100%;
    flex-grow: 1;
    overflow-x: auto;
    overflow-y: hidden;
    &::-webkit-scrollbar {
        height: 12px;
    }
    &::-webkit-scrollbar-track {
        margin: 0 4px 0 14px;
        background: #091e4214;
    }
    &::-webkit-scrollbar-track-piece {
        border-radius: 5px;
        background: #00000034;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 5px;
        background: #bfc3ce88;
    }
}
