.screen-card-details {
    position: fixed;
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.64);
}

.card-details {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 4;
    margin: 0 8px;
    color: #42526e;
    background-color: #f4f5f7;
    border-radius: 3px;
    max-width: 768px;

    .card-details-main-content {
        padding-left: 25px;
    }

    .card-details-icon {
        margin-right: 15px;
        width: 22px;
        height: 22px;
    }

    .card-details-avatar {
        width: 35px;
        height: 35px;
    }

    .card-details-content {
        margin-right: 16px;
        display: flex;
        flex-direction: column;

        .card-details-main {
            max-width: 784px;
        }

        h3 {
            font-size: rem(16px);
            font-weight: 700;
        }

        .hover:hover {
            background-color: $cardHoverColor;
            cursor: pointer;
        }
    }

    .card-details-items {
        margin-inline-start: 40px;
        margin-bottom: 20px;

        h3 {
            color: $fontColor;
            font-size: rem(12px);
            font-weight: 500;
            letter-spacing: 0.04em;
            line-height: rem(20px);
            margin: 0 8px 4px 0;
            text-transform: uppercase;
        }
    }
}

.cover-mode {
    height: 116px;

    .cover-menu {
        position: absolute;
        right: 8px;
        top: 72px;
        align-items: center;
        color: #172b4d;
        border: none;
        border-radius: 3px;
        padding: 6px 12px 6px 6px;

        button {
            background-color: rgba(0, 0, 0, 0.08);
        }
    }
}

.close-window-btn {
    border-radius: 50%;
    border: none;
    position: absolute;
    width: 40px;
    top: 4px;
    right: 4px;
    text-align: center;
    transition: background-color 85ms, color 85ms;
}

// RESPONVSIVE

@media screen and (min-width: 784px) {
    .card-details {
        margin: 0 auto;

        .card-details-content {
            flex-direction: row;

            .card-details-main {
                // width: 552px;
                width: 552px;
            }
        }
    }
}
