.dashboard-wrapper {
    position: absolute;
    top: 2px;
    padding-bottom: 48px;
    width: 100%;

    .screen-dashboard {
        position: fixed;
        right: 0;
        left: 0;
        top: 0;
        bottom: 0;
        z-index: 1;
        background-color: rgba(0, 0, 0, 0.883);
    }
    .dashboard {
        position: relative;
        right: 0;
        left: 0;
        z-index: 2;
        margin: 40px 20px;
        max-width: 850px;

        .no-data {
            color: white;
            text-align: center;
            font-size: rem(20px);
        }

        .charts-container {
            margin: 0 auto;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: start;
            justify-content: center;
            gap: 60px 90px;

            div > h1 {
                text-align: center;
                color: white;
                font-size: rem(30px);
                margin-bottom: 15px;
            }
        }
    }

    .close-window-btn {
        background-color: #ffffffe5;
        color: #42526e;
        border-radius: 50%;
        border: none;
        position: fixed;
        width: 40px;
        height: 40px;
        top: 30px;
        right: 30px;
        text-align: center;
        transition: background-color 85ms, color 85ms;

        img {
            height: 20px;
            width: 20px;
        }

        &:hover {
            background-color: #ffffffa2;
        }
    }

    // RESPONVSIVE

    @media screen and (min-width: 784px) {
        .dashboard {
            margin: 0 auto;
        }
    }
}
