.home-page {
    // background-color: $homeBgcColor;
    background-color: #fafffe;
    // background-color: #ece9ff;
    min-height: 100vh;
    position: absolute;
    top: 0;
    width: 100%;
    .hero {
        .info {
            h1 {
                font-family: SourceSansPro-Semi;
                font-size: rem(32px);
            }
            p {
                font-size: rem(20px);
            }
            button {
                // width: 100%;
                width: 245px;
                font-size: rem(20px);
                font-weight: 500;
                padding: rem(10px) rem(24px);
            }
        }
        img {
            display: none;
        }
        @include for-narrow-layout {
            .info h1 {
                font-size: rem(38px);
            }
        }
        @include for-normal-layout {
            gap: rem(40px);
            .info {
                h1 {
                    font-size: rem(44px);
                }
            }
            img {
                display: inline-block;
                height: 60vh;
            }
        }
        @include for-wide-layout {
            gap: rem(60px);
            .info h1 {
                font-size: rem(48px);
            }
        }
    }
    .home-btn {
        color: white;
        border-radius: 3px;
        background-color: #1db79a;
        &:hover {
            background-color: #45cbb2;
        }
    }
}
