.login-signup-page {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 2;
    background-color: #edfffc;
    // background-color: #ece9ff;
    a .logo-container {
        margin: rem(33px) auto;
        justify-content: center;
        gap: rem(10px);
        .icon-span {
            background-color: #45cbb2;
            height: 2.5rem;
            width: 2.5rem;
            border-radius: rem(6px);
            .icon {
                height: 1.9rem;
                width: 1.9rem;
            }
        }
        .logo-name h1 {
            color: #20332f;
            font-size: rem(50px);
        }
    }
    .form-container {
        text-align: center;
        margin: 0 auto;
        padding: rem(25px) rem(40px);
        max-width: rem(400px);
        background-color: #fff;
        .login-signup-error {
            width: 100%;
            color: #fbedeb;
            background-color: #eb5a46;
            border-radius: rem(7px);
            font-size: rem(14px);
            padding: rem(7px) rem(14px);
        }
        .loader {
            margin: 0 auto rem(8px);
            height: rem(50px);
            width: rem(50px);
        }
        .login-signup-form {
            gap: rem(17px);
            * {
                width: 100%;
            }
            input {
                padding: rem(7px);
            }
            button {
                background-color: #5aac44;
                color: white;
                font-weight: bold;
                padding: rem(8.5px);
                border: none;
                border-radius: rem(5px);
            }
        }
    }
}
