.archived-list {
    margin: 8px auto 16px;
    max-width: 260px;

    .archive-actions {
        margin-left: 8px;
        color: #5e6c84;

        p {
            text-decoration: underline;
            margin: 0 0 4px;
        }
        
        .space{
            padding: 0 rem(2px);
        }
    }
}