.invite-users{
    .search-users{
        width: 100%;
        margin: 16px 0 12px;
        padding: 8px 12px;
        box-shadow: inset 0 0 0 2px #dfe1e6;
        background-color: #fafbfc;
        border-radius: 3px;
        border: none;
    }
    .user-preview{
        width: 100%;
        background-color: transparent;
        padding: 4px 8px;
        .MuiAvatar-root {
            height: 32px;
            width: 32px;
            margin-inline-end: 12px;
            // border-radius: 50%;
        }
        .name {
            color: #172b4d;
            font-size: rem(14px);
            line-height: rem(16px);
        }
        &:hover{
            background-color:#091e420a;
        }
    }
}