// Colors
$bgcColor: #ebecf0;
$mainColor: #016AA7;
$clr1: #61BD4F;
$clr2: #F2D600;
$clr3: #FF9F1A;
$clr4: #EB5A46;
$clr5: #C377E0;
$clr6: #51E898;
$clr7: #5e6c84;



// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;