// Colors
// MAIN COLOR:

$bgcColor: #ebecf0;
$mainColor: #016aa7;
$fontColor: #5e6c84;

// LABELS COLORS:

$clr1: #61bd4f;
$clr2: #f2d600;
$clr3: #ff9f1a;
$clr4: #eb5a46;
$clr5: #c377e0;
$clr6: #51e898;

// Breakpoints
// $mobile-breakpoint: 460px;
// $narrow-breakpoint: 720px;
// $normal-breakpoint: 960px;
