// Colors
// MAIN COLOR:

$bgcColor: #ebecf0;
$mainColor: #016aa7;
$blueColor: #0079bf;
$fontColor: #5e6c84;
$cardBgcColor: #f4f5f7;
$cardHoverColor: #e1e4e9;
$cardBtnColor: #eaecf0;

// LABELS COLORS:

$clr1: #61bd4f;
$clr2: #f2d600;
$clr3: #ff9f1a;
$clr4: #eb5a46;
$clr5: #c377e0;
$clr6: #5ba4cf;
$clr7: #51e898;
$clr8: #2acce5;
$clr9: #ff8ed4;
$clr10: #172b4d;

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;
