.card-description {
    .desc-txt-placeholder {
        margin-bottom: 40px;
        background-color: $bgcColor;
        height: 60px;
        p {
            padding: 1rem;
        }
    }
    .desc-txt {
        width: 100%;
        height: 60px;
        margin-bottom: 10px;
    }
    .desc-edit {
        margin-top: 20px;
        width: 100%;
        padding-bottom: 70px;
        padding-top: rem(8px);
        font-size: rem(14px);
    }
    .save-desc {
        margin-bottom: 20px;
        background-color: $blueColor;
        color: white;
        padding: 10px;
        margin-right: 10px;
        border-radius: 5px;
    }
    .discard-desc {
        font-size: rem(20px);
        color: #42526e;
    }
}
