.card-description {
    margin-bottom: 20px;

    h3 {
        margin: 0;
        margin-right: 10px;
    }
    .btn-edit {
        padding: 6px 12px;
    }
    .desc-txt-placeholder {
        margin-bottom: 40px;
        margin-left: 40px;
        background-color: $bgcColor;
        height: 60px;
        p {
            padding: 1rem;
        }
    }
    .desc-txt {
        width: 100%;
        min-height: 60px;
        margin: 12px 0 32px 40px;
        p {
            white-space: pre-line;
        }
    }
    .edit-container {
        margin-left: 40px;
    }
    .desc-edit {
        margin-top: 20px;
        padding-left: 10px;
        padding-bottom: 70px;
        padding-top: rem(8px);
        width: 100%;
        font-size: rem(14px);
    }
    .save-desc {
        // margin-bottom: 20px;
        background-color: $blueColor;
        color: white;
        padding: 10px;
        margin-right: 10px;
        border-radius: 5px;
    }
    .discard-desc {
        font-size: rem(20px);
        color: #42526e;
    }
}
