.card-details-title {
    margin-bottom: 20px;
    padding-top: 12px;
    color: $clr10;
    .card-details-icon {
        margin-top: 5px;
    }
    .text-area-auto {
        width: 660px;
        font-size: rem(20px);
        line-height: 24px;
    }
    h2 {
        font-size: rem(20px);
        width: 660px;
        margin-bottom: 4px;
    }
    small span {
        text-decoration: underline;
        font-size: rem(14px);
    }
}
