#due-date-preview-card {
    button {
        background-color: $cardBgcColor;
        align-items: unset;
        padding: unset;
    }
    .due-date-preview {
        .gray {
            background-color: $cardBtnColor;
            &:hover {
                background-color: $cardHoverColor;
            }
        }
        h3 {
            text-align: start;
        }
        .date {
            margin-right: rem(6px);
            padding-left: rem(10px);
        }
        .status {
            padding: 0 4px;
            color: white;
            margin: auto 0 auto 8px;
        }

        .overdue {
            background-color: #ec9488;
        }
    }
}
