.card-details {
    .task-input {
        width: 100%;
        .task-update {
            width: 100%;
        }
        .task-done {
            text-decoration: line-through;
        }
        .task-edit {
            padding-left: 10px;
            padding-bottom: 20px;
            padding-top: rem(8px);
            width: 100%;
            font-size: rem(14px);
            background: #091e420a;
            border-color: #091e4221;
            box-shadow: inset 0 0 0 1px #091e4221;
            margin-bottom: 4px;
            &:focus-visible {
                outline: none;
                background: #091e420a;
                border-color: #091e4221;
                box-shadow: inset 0 0 0 1px #091e4221;
            }
        }
        .save-task {
            background-color: $blueColor;
            color: white;
            padding: 6px 12px;
            border-radius: 5px;
        }
        .discard-task {
            margin-left: 5px;
            font-size: rem(20px);
            color: #42526e;
            width: 32px;
        }
    }
}
